@model Lets_Travel.Models.Flights

@{
    ViewData["Title"] = "FlightDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        body{
            background-color:white;
        }
        header {
            position: relative;
            background-color: rgba(0,0,0,0.7);
        }
        .masterDiv {
            background-color: aliceblue;
            max-width: 40%;
            max-height: 65%;
            margin: auto;
            padding: 5px;
            font-size:1.3em;
            display:flex;
            justify-content:space-evenly;
            flex-direction:column;
            border: 2px solid black;
            border-radius:0.5em;
            text-transform:uppercase;
        }
        .FlightData{
            display:flex;
            flex-direction:column;
            justify-content:center;
            
        }
        .tickets {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
}

<h1 style="color:blue;display:flex; justify-content:center;">FlightDetails</h1>

<div class="masterDiv">
        <div class="card-header " style="border-bottom:2px solid black;">
                <span> Flight by : @Model.FlightName </span>
        </div>
        <div class="FlightData" style="border-bottom:2px solid black;">
            <span>  Flight From : @Model.FlightFrom</span> <br />
            <span>  Flight To : @Model.FlightTo</span>
        </div>
        <div class="FlightData" style="border-bottom:2px solid black;">
            <span> Flight On Date : @Model.Date</span>
            <span> Take Off Time : @Model.FlightTime</span>
            <span> Ordinary Ticket Price : @Model.ORDINARYprice</span>
            <span> Business class Ticket Price : @Model.BUSINESSprice</span>
            <div class="tickets" style="border-top:2px solid black; display:flex;align-items:center;">
                <form class="form " asp-controller="Flights" asp-action="BookFlight">
                    <h3> Avilable Tickets</h3>
                    <input type="hidden" name="flightId" value="@Model.FlightID" />
                    <span>  Ordinary : @Model.OrdinaryTickets </span>
                    <input type="number" name="ordinaryTickets" value="0" required />

                    <span>  Business : @Model.BusinessTickets </span>
                    <input type="number" name="businessTickets" value="0" required />
                    <div class="book">
                        <button type="submit" class="btn btn-primary">Book Flight</button>
                    </div>
                </form>
            </div>
        </div>
       
</div>

